@charset "UTF-8";

.fc-event {
    float: none;
}



.select-item-modal .card-body {
	background-color: white;
	padding: 10px;
}
.select-item-modal .card .card-header {
	padding: 5px;
}

.select-item-modal .btn-link:hover,.select-item-modal .btn-link:focus{
	color: #fff;
	}

.select-item-row {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.select-item-modal .nav-tabs .nav-link:focus, .select-item-modal .nav-tabs .nav-link:hover{
		color: #999;
}
