html {
  background: -webkit-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: -ms-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: -o-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
}
body {
  font-family: 'helvetica', arial, sans-serif !important;
  background: -webkit-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: -ms-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: -o-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  background: linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  color: $color-white;
  padding-bottom: 30px;
}
.wrapper {
  // background: -webkit-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  // background: -ms-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  // background: -o-linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  // background: linear-gradient(to bottom, #007c8e, #00508e 45%, #00406f);
  padding-top: 145px;
  @media (max-width: 991px) {
    padding-top: 85px;
  }
}
.dataTables_wrapper {
  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.tooltip-inner {
    background-color: rgba(0,0,0,0.7);
    border-radius: 1px !important;
    padding: 10px 15px;
    h3 {
      margin-bottom: 0;
      font-size: 1.5rem;
      margin-top: 0;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
}
.tooltip-inner:before {
    display: none !important;
}
#topnav {
  .topbar-main {
    background-color: $color-main-light;
    .logo {
      line-height: 85px;
      height: 85px;
      > a {
        display: block;
        padding-top: 15px;
        &:after {
          content: '';
          display: table;
          clear: both;
        }
        img {
          height: 50px;
          float: left;
          &:last-child {
            height: 30px;
            margin-left: 10px;
            margin-top: 10px;
          }
        }
      }
      .dropdown {
        line-height: normal;
        float: left;
        margin-top: 20px;
        > a {
          line-height: normal;
          display: block;
        }
        .dropdown-menu {
          border-radius: 0;
          border: none;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          background-color: $color-white;
          box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
          a {
            line-height: normal;
            text-transform: capitalize;
            font-family: $main-font;
            display: block;
            padding: 8px 25px;
            clear: both;
            white-space: nowrap;
            font-size: 16px;
            -webkit-transition: all .35s ease;
            transition: all .35s ease;
            &:hover {
              color: #67a8e4;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .navigation-menu {
    > li {
      &.active {
        > a {
          background-color: $color-main-dark !important;
        }
      }
      > a {
        color: $color-white;
        font-weight: 600;
        &:after {
          content: '';
          display: table;
          clear: both;
        }
        > span {
          display: block;
          float: left;
          height: 20px;
          width: 20px;
          overflow: hidden;
          position: relative;
          margin-right: 5px;
          margin-top: -1px;
          img {
            height: 25px;
            @include absolute-center;
          }
        }
      }
    }
  }
  .navbar-custom {
    background-color: $color-main;
  }
  .has-submenu {
    &.active {
      > a {
        background-color: $color-main-dark !important;
      }
    }
  }
}
.topbar-custom {
  .nav-link {
    line-height: 85px;
  }
}
.list-inline-item:not(:last-child) {
  margin-right: 0;
}
.card {
  background-color: $color-main;
}
.form-control {
  background-color: $color-main;
  border: $border-form;
  &:focus {
    background-color: $color-main-light;
  }
}
.page-title-box {
  .page-title {
    font-size: 28px;
    color: $color-white;
    font-weight: 500;
    line-height: normal;
    font-family: $main-font;
    @media (max-width: 480px) {
      display: block;
    }
  }
}

// content
table {
  &.dataTable {
    border-collapse: collapse !important;
  }
  td {
    a {
      float: left;
      display: block;
      &.delete{
        height: 25px;
        width: 25px;
        span {
          display: inline-block;
          height: 25px;
          width: 25px;
          background: url(../../../assets/images/icons/delete.svg) center;
          background-size: cover;
        }
        &.center {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
      &.file {
        height: 25px;
        width: 45px;
        margin-right: 5px;
        display: block;
        &.xls {
          span {
            background: url(../../../assets/images/icons/xls.png) center;
          }
        }
        &.pdf {
          span {
            background: url(../../../assets/images/icons/pdf.png) center;
          }
        }
        span {
          display: inline-block;
          height: 25px;
          width: 45px;
          background-size: cover !important;
        }
      }
    }
  }
  thead {
    th {
      border-bottom: 2px solid rgba(255, 255, 255, 0.55) !important;
      background-color: rgba(255, 255, 255, 0.15);
      font-weight: 600;
      &:before, &:after {
        display: none !important;
      }
      .arrange {
        position: absolute;
        display: block;
        right: 0;
        top: 5px;
        img {
          height: 35px;
        }
      }
    }
  }
}
.table-bordered {
    border: 1px solid rgba(255, 255, 255, 0.55);
}
.table-bordered td, .table-bordered th {
    border: 1px solid rgba(255, 255, 255, 0.55);
}
.table-bordered {
  th {
    &:first-child {
      border-radius: 3px 0 0 0;
    }
    &:last-child {
      border-radius: 0 3px 0 0;
    }
  }
}
.page-link {
  background-color: $color-main;
}
.page-item.disabled .page-link {
  background-color: rgba(255, 255, 255, 0.15);
}
.page-link:focus, .page-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
@media (max-width: 991px) {
  #navigation {
    background-color: $color-main;
    right: 0;
    border-top: 1px solid $color-main-light;
    border-bottom: 1px solid $color-main-light;
  }
}
.full-width {
  width: 100%;
}
.custom-checkbox {
  margin-bottom: 0;
  .custom-control-description {
    line-height: 27px;
    font-weight: 400;
  }
}
.list-checkbox-5 {
  margin-bottom: 10px;
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  li {
    float: left;
    width: 20%;
    padding: 5px;
    @media (max-width: 992px) {
      width: 33.333%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 420px) {
      width: 10%;
    }
  }
}
.header-title {
    margin-bottom: 20px;
}
.alert {
    margin-top: 1rem;
    &.alert-danger {

    }
}
.title-form {
  margin-top: 20px;
  h5 {
    font-weight: 400;
    font-size: 1rem;
  }
}
.form-horizontal {
  label {
    line-height: 38px;
  }
}
.btn, label, th, button, input, optgroup, select, textarea {
  font-family: $main-font;
}
.page-title-box .breadcrumb .breadcrumb-item a {
  color: $color-white;
}
.breadcrumb-item.active {
  color: $color-white;
  font-weight: 700;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: $color-white;
  font-weight: normal;
}
.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
  background-image: none !important;
}
.input-group {
  &.date-picker {
    width: 80%;
    input {
      margin-left: 10px;
      display: inline-block;
      flex-direction: unset;
    }
  }
}

// ------------------------------- main layout custom ---------------------------------
.card {
  -webkit-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  border-radius: 0.45rem;
}
.outer-bg {
  overflow: hidden;
  -webkit-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  border-radius: 0.45rem;
  .title-bg {
    background-color: rgba(255,255,255,0.05);
    padding: 6px 5px;
  }
  &.blue {
    background: $color-main;
    color: $color-white;
  }
  &.green {
    background: $color-green-transparent;
    border: 1px solid $color-green-border;
  }
  .footer-bg {
    padding: 6px 5px;
    background-color: $color-main-dark;
    color: $color-white;
  }
}
.status-desc {
  ul {
    text-align: left;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      .status {
        color: $color-white;
        padding-left: 18px;
        position: relative;
        font-size: 0.8rem;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          display: block;
          height: 14px;
          width: 14px;
          border-width: 1px;
          border-style: solid;
          -webkit-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
          border-radius: 100%;
        }
        &.white {
          &:before {
            background-color: $color-white-transparent;
            border-color: $color-white;
          }
        }
        &.red {
          &:before {
            background-color: $color-red-transparent;
            border-color: $color-red;
          }
        }
        &.warning {
          &:before {
            background-color: $color-warning-transparent;
            border-color: $color-warning;
          }
        }
        &.blue {
          &:before {
            background-color: $color-blue-transparent;
            border-color: $color-blue;
          }
        }
        &.green {
          &:before {
            background-color: $color-green-transparent;
            border-color: $color-green;
          }
        }
      }
    }
  }
}
.color-red {
  color: $color-red;
}
.color-blue {
  color: $color-blue;
}
.color-warning {
  color: $color-warning;
}
.color-green {
  color: $color-green
}
.color-white {
  color: $color-white;
}
section {
  &.dashboard-top {
    margin: 20px 0;
    .row {
      margin-left: -5px;
      margin-right: -5px;
      [class^="col"] {
        padding-left: 5px;
        padding-right: 5px;
        .outer-bg {
          height: 120px;
          @media(max-width: 992px) {
            margin-bottom: 10px;
          }
          &.most-wide {
            .content-value {
              > span {
                position: relative;
                width: 50%;
                &:first-child {
                  border-right: 1px solid rgba(255,255,255,0.05);
                }
                &:last-child {
                  border-left: 1px solid rgba(255,255,255,0.05);
                }
                p {
                  margin-bottom: 0;
                  font-size: 1rem;
                  text-align: left;
                  position: absolute;
                  left: 15px;
                  top: 5px;
                }
                span {
                  &:last-child {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
          &.green {
            .title-bg {
              background-color: $color-green;
            }
          }
          .title-bg {
            text-align: center;
            background-color: rgba(255,255,255,0.05);
            padding: 5px;
          }
          .content-value {
            font-size: 2rem;
            display: table;
            width: 100%;
            height: calc(100% - 36px);
            > span {
              display: table-cell;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  &.middle {
    .row {
      > .right {
        &:last-child {
          margin-bottom: 20px;
          .outer-bg {
            margin-bottom: 0;
          }
        }
      }
    }
    .outer-bg {
      margin-bottom: 20px;
      .row {
        &.locker-status {
          .left {
            background: $color-main-light;
            position: relative;
            margin-bottom: 0;
            &:after {
              display: block;
              content: '';
              position: absolute;
              right: -10px;
              top: 50%;
              height: 0;
              width: 0;
              border-left: 10px solid $color-main-light;
              border-top: 10px solid transparent;
              // border-right: 15px transparent;
              border-bottom: 10px solid transparent;
            }
            .floor-plan {
              padding: 15px;
              margin-left: 15px;
              .tab-menu {
                margin: -15px -10px 10px -10px;
                padding: 0;
                list-style-type: none;
                li {
                  display: inline-block;
                  &.active {
                    a {
                      border-bottom: 2px solid rgba(255,255,255,0.5);
                      color: $color-white
                    }
                  }
                  a {
                    font-size: 0.8rem;
                    color: $color-main-very-light;
                    display: block;
                    padding: 5px 10px;
                    border-bottom: 2px solid transparent;
                  }
                }
              }
              .outer-floor-plan {
                position: relative;
                height: 250px;
                width: 250px;
                border: 1px dashed $color-white;
                &:after {
                  position: absolute;
                  content: '';
                  height: calc(106px + 1px);
                  width: calc(55% + 1px;);
                  background: $color-main-light;
                  left: -1px;
                  bottom: -1px;
                  border-top: 1px dashed $color-white;
                  border-right: 1px dashed $color-white;
                }
                .door-window {
                  position: absolute;
                  &.window {
                    background-size: contain !important;
                    height: 25px;
                    width: 40px;
                    &.one {
                      top: 0;
                      right: 1px;
                      background: url(../../images/window.png) center no-repeat;
                    }
                    &.two {
                      bottom: 0;
                      right: 1px;
                      background: url(../../images/window.png) center no-repeat;
                    }
                    &.three {
                      bottom: 0;
                      right: 41px;
                      background: url(../../images/window.png) center no-repeat;
                    }
                  }
                  &.door {
                    height: 30px;
                    width: 35px;
                    left: 55%;
                    bottom: 50px;
                    background: url(../../images/door.png) center no-repeat;
                    background-size: contain !important;
                  }
                }
                .locker {
                  position: absolute;
                  color: $color-white;
                  &.active {
                    background: rgba(255,255,255,0.2);
                  }
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    li {
                      border: 1px solid $color-white;
                      text-align: center;
                      width: 30px;
                      height: 20px;
                      font-size: 0.7rem;
                      position: relative;
                      margin-left: -1px;
                      &:after {
                        content: '';
                        position: absolute;
                        border: 1px solid $color-white;
                        height: calc(100% + 6px);
                        width: calc(100% + 6px);
                        left: -3px;
                        top: -3px;
                      }
                      span {
                        display: block;
                        line-height: 20px;
                      }
                      &.narrow {
                        width: 25px;
                      }
                      &.big {
                        height: 30px;
                        margin-top: -5px;
                            left: 2px;
                        span {
                          line-height: 30px;
                        }
                      }
                    }
                  }
                  &.locker-area-1 {
                    top: 1px;
                    left: 2px;;
                  }
                  &.locker-area-2 {
                    top: 40px;
                    left: -21px;
                    ul {
                      flex-direction: column;
                      li {
                        width: 20px;
                        height: 21px;
                        margin-bottom: -1px;
                        span {
                          display: block;
                          line-height: 20px;
                        }
                      }
                    }
                  }
                  &.locker-area-3 {
                    top: 60px;
                    left: 2px;
                  }
                  &.locker-area-4 {
                    top: 120px;
                    left: 2px;
                  }
                  &.locker-area-5 {
                    bottom: 40px;;
                    right: 1px;
                    ul {
                      flex-direction: column;
                      li {
                        width: 20px;
                        height: 30px;
                        margin-bottom: -1px;
                        span {
                          display: block;
                          line-height: 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .right {
            margin-bottom: 0 !important;
            .locker-layout {
              height: 100%;
              margin-left: -2px;
              margin-right: -2px;
              padding: 40px 15px;
              > [class^="col"] {
                padding-left: 2px;
                padding-right: 2px;
              }

              .item-locker {
                border: 1px solid rgba(255,255,255,0.5);
                height: calc(100% - 30px);
                &:after {
                  content: '';
                  display: table;
                  clear: both;
                }
                .item {
                  border: 1px solid rgba(255,255,255,0.5);
                  position: relative;
                  background: rgba(255,255,255,0.1);
                  cursor: pointer;

                  &.active {
                    &:before {
                      content: '';
                      display: block;
                      position: absolute;
                      left: -2px;
                      top: -2px;
                      width: calc(100% + 4px);
                      height: calc(100% + 4px);
                      z-index: 9;
                    }
                  }
                  &.active-red {
                    &:before {
                      background: $color-red-transparent;
                    }
                  }
                  &.active-warning {
                    &:before {
                      background: $color-warning-transparent;
                    }
                  }
                }
                &.item-4 {
                  .item {
                    width: 50%;
                    height: 50%;
                    float: left;
                  }
                }
                &.item-5-1 {
                  .item {
                    width: 100%;
                    height: 20%;
                    float: none;
                  }
                }
                &.item-10 {
                  .item {
                    width: 50%;
                    height: 20%;
                    float: left;
                  }
                }
                &.item-7-1 {
                  .item {
                    width: 100%;
                    height: 14.285%;
                    float: none;
                  }
                }
                &.item-6-1 {
                  .item {
                    width: 100%;
                    height: 16.666%;
                    float: none;
                  }
                }
                &.item-4-1 {
                  .item {
                    width: 100%;
                    height: 25%;
                    float: none;
                  }
                }
                &.item-9-1 {
                  .item {
                    width: 100%;
                    height: 11.111%;
                    float: none;
                  }
                }
                &.item-8 {
                  .item {
                    width: 50%;
                    height: 25%;
                    float: left;
                  }
                }
                &.item-14 {
                  .item {
                    width: 50%;
                    height: 14.285%;
                    float: left;
                  }
                }
                &.item-12 {
                  .item {
                    width: 50%;
                    height: 16.666%;
                    float: left;
                  }
                }
                &.item-6-3 {
                  .item {
                    width: 33.333%;
                    height: 50%;
                    float: left;
                  }
                }
              }
              .text {
                height: 30px;
                width: 100%;
                color: $color-white;
                text-align: center;
                text-transform: uppercase;
                font-size: 0.6rem;
              }
            }
          }
        }
      }
      &.right {
        position: relative;
        height: 100%;
      }
      .title-bg, .footer-bg {
        padding: 6px 15px;
      }
      .content {
        min-height: 268px;
        &.vehicle-status {
          padding: 15px;
          .outer-vehicle-status {
            .list-vehicle-status {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 25px;
              > div {
                color: $color-white;
                padding: 0 10px;
                &.image {
                  flex-basis: 25%;
                  text-align: left;
                  overflow: hidden;
                  img {
                    width: auto;
                    width: 140px;
                  }
                }
                &.type {
                  flex-basis: 10%;
                  text-align: left;
                }
                &.process {
                  flex-basis: 10%;
                  text-align: center;
                }
                &.code {
                  flex-basis: 55%;
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    font-size: 0;
                    li {
                      width: 25%;
                      display: inline-block;
                      padding: 3px 7px;
                      font-size: 0.9rem;
                    }
                  }
                }
              }
            }
          }
        }
        &.equipment-status {
          .outer-maintenance-error-log {
            .title {
              color: $color-white;
              padding: 6px 15px;
              &.warning {
                background-color: $color-warning-transparent;
              }
              &.red {
                background-color: $color-red-transparent;
              }
            }
            .list-maintenance-error-log {
              height: 312px;
              overflow: auto;
              /* width */
              &::-webkit-scrollbar {
                  width: 5px;
              }
              /* Track */
              &::-webkit-scrollbar-track {
                  background: $color-main-dark;
                  border-radius: 2.5px;
                  width: 5px;
              }
              /* Handle */
              &::-webkit-scrollbar-thumb {
                  background: $color-main-light;
                  width: 5px;
                  border-radius: 2.5px;
              }
              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                  background: $color-main-light;
              }
              ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                  &:nth-child(2n+1) {
                    background-color: rgba(255,255,255,0.05);
                  }
                  &:after {
                    content: '';
                    display: table;
                    clear: both;
                  }
                  span {
                    padding: 21px 15px;
                    display: block;
                    float: left;
                    font-size: 0.9rem;
                    &.code {
                      width: 35%;
                    }
                    &.desc {
                      width: 65%;
                      background-color: rgba(0,0,0,0.07);
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.bottom {
    .row {
      > [class^="col"] {
        margin-bottom: 20px;
      }
    }
    .outer-bg {
      position: relative;
      height: 100%;
      .title-bg {
        padding: 6px 15px;
      }
      .content {
        &.logistics-readiness-level {
          table {
            margin-bottom: 0;
            height: 295px;
            tr {
              &:first-child {
                td {
                  padding: 7px 5px;
                  height: 60px;
                }
              }
              &:nth-child(2n+2) {
                background-color: rgba(255,255,255,0.05);
              }
              td {
                width: 1%;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                vertical-align: middle;
                padding: 15px 5px;
                border-top: none;
                height: 65px;
                &.left-title {
                  font-size: 0.9rem;
                  font-weight: 400;
                  text-align: left;
                  padding-left: 15px;
                  padding-right: 15px;
                  background-color: $color-main-light;
                }
                .image {
                  text-align: center;
                  margin-bottom: 5px;
                  img {
                    height: 34px;
                    width: 34px;
                    border-radius: 2px;
                    background-color: #d8d8d8;
                  }
                }
                > span {
                  font-size: 0.7rem;
                  font-weight: 400;
                  display: block;
                  text-align: center;
                  line-height: normal;
                }
              }
            }
          }
        }
        &.frc-bag-status {
          .title-fixed {
            padding: 6px 0;
            background: $color-main-dark;
            table {
              width: 100%;
            }
            tr {
              th {
                text-align: center;
                background: transparent;
                border-bottom: none !important;
                &:nth-of-type(1) {
                  width: 30%;
                }
                &:nth-of-type(2) {
                  width: 20%;
                }
                &:nth-of-type(3) {
                  width: 20%;
                }
                &:nth-of-type(4) {
                  width: 30%;
                }
              }
            }
          }
          .outer-table {
            max-height: 260px;
            overflow: auto;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: $color-main-dark;
                border-radius: 2.5px;
                width: 5px;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $color-main-light;
                width: 5px;
                border-radius: 2.5px;
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $color-main-light;
            }
            table {
              color: $color-white;
              font-size: 0.9rem;
              margin-bottom: 0;
              tr {
                &:nth-child(2n+2) {
                  background-color: rgba(255,255,255,0.05);
                }
                td {
                  text-align: center;
                  vertical-align: middle;
                  border-top: none;
                  padding: 5px 15px;
                  &:nth-of-type(1) {
                    width: 30%;
                  }
                  &:nth-of-type(2) {
                    width: 20%;
                    > div {
                      position: relative;
                    }
                    .knob {
                      font-size: 1rem;
                    }
                  }
                  &:nth-of-type(3) {
                    width: 20%;
                    .outter-holding {
                      display: inline-block;
                      &:after {
                        content: '';
                        display: table;
                        clear: both;
                      }
                    }
                    span {
                      float: left;
                      display: block;
                      &:nth-of-type(1) {
                        font-size: 0.9rem;
                      }
                      &:nth-of-type(2) {
                        font-size: 1.5rem;
                        line-height: normal;
                      }
                      &:nth-of-type(3) {
                        font-size: 0.8rem;
                        margin-top: 8px;
                      }
                    }
                  }
                  &:nth-of-type(4) {
                    width: 30%;
                  }
                  &.img {
                    .image {
                      float: left;
                      margin-right: 5px;
                      img {
                        height: 34px;
                        width: 34px;
                        border-radius: 2px;
                        background-color: #d8d8d8;
                      }
                    }
                    > span {
                      float: left;
                      display: block;
                      height: 30px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
