@font-face {
  font-family: 'helvetica';
  src: url('../../fonts/helvetica/Helve.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/helvetica/Helve.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/helvetica/Helve.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/helvetica/Helve.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/helvetica/Helve.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/helvetica/Helve.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin absolute-center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin absolute-center-h {
  position: absolute;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin remove-absolute-center {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

$main-font: 'helvetica', arial, sans-serif !important;

$color-white: #ffffff;
$color-white-transparent: rgba(255,255,255, 0.5);

$color-main-dark: #003346;
$color-main: #004260;
$color-main-light: #005a7a;
$color-main-very-light: #005e8e;

$color-green: #1a9e7b;
$color-green-transparent: rgba(43, 182, 145, 0.5);
$color-green-border: #2bb691;

$color-red: #ff2e2e;
$color-red-transparent: rgba(255, 46, 46, 0.5);
$color-warning: #ff9c2d;
$color-warning-transparent: rgba(255, 156, 45, 0.5);
$color-blue: #009cde;
$color-blue-transparent: rgba(0, 156, 222, 0.5);

$border-form: solid 1px rgba(255, 255, 255, 0.8);
